<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/style.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
    <h1>Salvador Dalí</h1>
    <section class="about-artist">
        <div>
            <ul>
                <li>
                    Nome completo 
                </li>
                <li>
                    Nascimento
                </li>
                <li>
                    Morte
                </li>
                <li>
                    Ocupação
                </li>
                <li>
                    Movimento estético
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    Salvador Domingo Felipe Jacinto Dali i Domènech
                </li>
                <li>
                    11 de maio de 1904 Figueres, Espanha
                </li>
                <li>
                    23 de janeiro de 1989 (84 anos) Figueres, Espanha
                </li>
                <li>
                    Pintor, desenhista, fotógrafo e escultor
                </li>
                <li>
                    Cubismo, dadaísmo, surrealismo
                </li>
            </ul>
        </div>
        <div>
            <img class='img-salvador-about'src='/images/salavdor-dalí.certa-capajpg.jpg'>
        </div>
    </section>
</body>
</html>