<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/style.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
    <h1>Salvador Dalí</h1>
    <section class="home-int">
        <p>Está é uma pagina com alguma informações sobre o pintor Salvador Dalí
            <br/>
            Através da navbar acima é possível acessar algumas informações do pintor
            <br/>
            <br/>
            Para maiores informações sobre artista acesse o <a href='https://pt.wikipedia.org/wiki/Salvador_Dal%C3%AD'>link</a></p>
        <div>
            <img class="img-salvador-dali"src='/images/Salvador_Dali_NYWTS.jpg'/>
        </div>
    </section>
</body>
</html>