<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/style.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
    <h1>Salvador Dalí</h1>
    <h2>Obras</h2>
    <section class="cards-works">
        <div class="card-img">
            <img src="/images/vida_e_obra_salvador_dali_4.jpg"/>
            <p>A Persistência da Memória (1931)</p>
        </div>
        <div class="card-img">
            <img src="/images/vida_e_obra_salvador_dali_5.jpg"/>
            <p>Metamorfose de Narciso (1937)</p>
        </div>
        <div class="card-img">
            <img src="/images/vida_e_obra_salvador_dali_6.jpg"/>
            <p>O Enigma Sem Fim (1938)</p>
        </div>
        <div class="card-img">
            <img src="/images/vida_e_obra_salvador_dali_8.jpg"/>
            <p>Comienzo automático de un retrato de Gala (1933)</p>
        </div>
        <div class="card-img">
            <img src="/images/vida_e_obra_salvador_dali_10.jpg"/>
            <p>O Enigma de Hitler (1938)</p>
        </div>
        <div class="card-img">
            <img src="/images/vida_e_obra_salvador_dali_11.jpg"/>
            <p>A Tentação de Santo Antão (1946)</p>
        </div>
    </section>
</body>
</html>